# Dependencies
node_modules
npm-debug.log

# Build outputs
dist
tmp
out-tsc

# Git and CI related
.git
.github
.gitignore
.circleci

# Development and editor files
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*

# System Files
.DS_Store
Thumbs.db

# Test files
e2e
coverage
